<!-- The first line signifies that we are working on HTML5, the latest version of Hypertext Markup language -->
<!DOCTYPE html>
<html>

<head>
  <title>To-do-list</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="scripts/strikeThrough.js" defer></script>
</head>

<body>
  <nav>
    <span class="logo">
      <img src="assets/logo.png" class="logoImg" alt="Logo">
      <h1>To-Do-Lister</h1>
    </span>

    <ul>

      <li>
        <a href="/">
          <img src="assets/today.png" class="dayTypeImg" alt="today">
          <span>Today</span>
        </a>
      </li>

      <li>
        <a href="/week">
          <img src="assets/week.png" class="dayTypeImg" alt="week">
          <span>Week</span>
        </a>
      </li>

      <li>
        <a href="/month">
          <img src="assets/month.png" class="dayTypeImg" alt="month">
          <span>Month</span>
        </a>
      </li>

    </ul>
  </nav>
