<%- include("partials/header.ejs") %>
  <!-- Here goes, our main area -->

  <main>
    <!-- Showing current day and date -->
    <header>
      <%= date %>
    </header>
    <!-- Our to do list -->
    <section>
      <div class="createdTasks">
        <%if(locals.tasks){%>
          <%tasks.forEach((task)=> {%>
            <div class="eachTask">
              <input type="checkbox" name="taskCompleted">
              <p>
                <%=task%>
              </p>
            </div>
            <%})%>
        <%}%>
      </div>
      <form action="/" class="task" method="POST">
        <input type="text" name="task" placeholder="Create Task">
        <input type="submit" value="+">
      </form>

    </section>
  </main>

<%- include("partials/footer.ejs") %>